@charset "UTF-8";
.ffot *{
    box-sizing: border-box;
}
.ffot table{
	width:auto;
	min-width:20px;
	min-height:20px;
  border-collapse: collapse;
	table-layout: fixed;
	padding:0;margin:0;
	/* background-color: #fff; */

}
.ffot col{
	min-width: 40px;
}
.ffot table td ,
.ffot table th{
	min-width: 20px;
	white-space: nowrap;
	/* border: 1px solid #000; */
	word-break: break-all;
	overflow:hidden;
	/* white-space : nowrap;
	text-overflow: ellipsis; */
}
.ffot-scrollbar{
	overflow:auto; display:flex; height:100%;width:100%;position:relative;
}

.ffot-container-left{
	display:flex;flex-direction:column;position: sticky;left: 0;top: 0;z-index:10;
	flex:0 0 auto;
}

.ffot-header-00{
	flex:0 0 auto;z-index:10;
	position: relative;left: 0;top: 0;
}
.ffot-header-10{
	flex:0 0 auto;z-index:5;
	/* position: sticky;left: 0;top: 0; */
	position: relative;left: 0;top: 0;
}
.ffot-header-10  > *:first-child{
	width:100%;height:100%;
}
.ffot-container-body{
	display:flex;flex-direction:column;position:absolute;top:0;left:0;
	flex:0 0 auto;
}
.ffot-container-body-dir-row{
	flex-direction:row;
}
.ffot-container-body-dir-row .ffot-header-10{
	width:auto;
}

.ffot-header-01{
	flex:0 0 auto;position: sticky;left: 0;top: 0;;z-index:9;
}
.ffot-header-01 > *:first-child{
	width:100%;
	height:100%;
}
.ffot-content{
	flex:0 0 auto;
}
.ffot-content table ,
table.ffot-content{
	width:20px;
}
